/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
.comment-body{
	display: flex;
	padding: $base__space-unit 0;
}
.comment-list{
	padding: 0;
}
.comment-list>li{
	border-bottom: 1px solid $color__grey-border;
}	
.children{
	margin-left: $base__space-unit;
	li {
	border-top: 1px solid $color__grey-border;
	}
}

.avatar{
	border-radius: 50%;
	margin-right: $base__space-unit;
	width: 80px;
	height: 80px;
}
.comment-author{
	font-weight: bold;
	margin-bottom: 10px;
	cite{
		font-style: normal;
		text-transform: capitalize;
	}
}
.comment-metadata{
	color: $color__l-grey-brand;
}