/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}


.hero-area{
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: 
		linear-gradient( 180deg,rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)),
		url(../../images/home-hero.jpg) no-repeat top;
	background-size: cover, cover;
	background-attachment: fixed;

}

// SINGLE BLOG POST STYLINGS.

.single-post{
	h1{
		color: $color__white;
	}
	.entry-footer{
		@include font-upper($font__secondary);
		font-size: $font__size * 1;
		margin-right: $base__space-unit;
		color: $color__m-grey-brand;

	}
	.cat-links{
		margin-right: $base__space-unit*1.5;		
	}
}
.share-btn{
	margin: $base__space-unit 0;
}
.scl-btn-facebook,
.scl-btn-twitter,
.scl-btn-pinterest{
	@include button-ol(black);
	padding: 10px 20px;
	@include font-upper($font__secondary);
	margin-right: 5px;
}
.fa{
	margin-right: 7px;
}
	

//SINGLE PRODUCT PAGE STYLES

.indvid-product-page{
	display: flex;
	margin-bottom: $base__space-unit *4;
}
.product-image-container{
	flex-basis:50%;
	margin-right: $base__space-unit*2;
}
.product-description-container{
	flex-basis: 50%;
}
.product-content{
	padding-bottom: $base__space-unit;
}
.product-title{
	position: relative;
	color: $color__orange-brand;
}
.product-price{
	font-family: $font__secondary;
	font-size: $font__size *1.8;
}

//SINGLE ADVENTURE PAGE STYLES
.hero-image{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.adventure-meta{
	font-family: $font__secondary;
	text-transform: uppercase;
}
//ABOUT PAGE STYLES
.hero-about{
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-title{
	background-color: transparent;
	color: $color__white;
	font-size: $font__size *3;
}
.about-content{
	h2{
		text-align: center;
		color: $color__purple-brand;
	}
}
