/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.container{
	width: 1120px;
	margin: 0 auto;
}
.site-content{
	display: flex;
}
//HERO IMAGE AREA SHOULD PROBS MOVE INTO CONTENT WHEN DONE...

.hero-area{
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: 
		linear-gradient( 180deg,rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)),
		url(../../images/home-hero.jpg) no-repeat top;
	background-size: cover, cover;
	background-attachment: fixed;

}



/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

// JOURNAL FEED STYLES
.blog,
.page-template-default,
.single,
.search{
	.content-area{
		width: 70%;
		padding: ($base__space-unit *2) ($base__space-unit *2) 0 0;
	}
}
.entry-header{
	position: relative;
	width: 736px;
	height: auto;

	img{
		width: 736px;
		height: auto;
	}
	.entry-title,
	.entry-meta{
		position: absolute;
		background-color: $color__green-brand;
	}
	.entry-title{
		width: 500px;
		top: 0;
		padding: $base__space-unit;
		a{
			color: white;
		}
	}
	.entry-meta{
		padding: $base__space-unit/2;
		bottom: 5px;
		right: 0;
		color: $color__white;
		font-family: $font__secondary;
		text-transform: uppercase;
		font-size: $font__size ;
	}
}

.widget-area{
	width: 30%;
	border-left: 1px solid $color__grey-border;
	// below set it to auto scroll with header, probs don't want
	// but could be cool to have it so it stops at bottom...?
	// border-bottom: 1px solid $color__l-grey-brand;
	// position: fixed;
	// right: 0;
	// overflow: 0;
	padding: ($base__space-unit * 2) 0 0 ($base__space-unit*2);
	h2{
		font-size: $font__size * 1.3;
	}
}



//ABOUT PAGE STYLES
.hero-about{
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-title{
	background-color: none;
	color: $color__white;
	font-size: $font__size *3;
}
.about-content{
	width: 800px;
	margin: 0 auto;
	padding: ($base__space-unit * 2)  0 ($base__space-unit * 3) 0;
	h2{
		text-align: center;
		color: $color__purple-brand;
	}
}


//SINGLE PRODUCT PAGE STYLES
.single-product,
.archive{
	.content-area{
		width: 100%;
	}
}
.indvid-product-page{
	display: flex;
	margin-bottom: $base__space-unit *4;
}
.product-image-container{
	flex-basis:50%;
	margin-right: $base__space-unit*2;
}
.product-description-container{
	flex-basis: 50%;
}
.product-content{
	padding-bottom: $base__space-unit;
}
.product-title{
	position: relative;
	color: $color__orange-brand;
}
.product-price{
	font-family: $font__secondary;
	font-size: $font__size *1.8;
}


// 404 PAGE STYLES
.error-404{
	padding: ($base__space-unit*2) ($base__space-unit*2) 0 0;
	.search-wrapper{
		fieldset{
			padding: 0;
		}
		.icon-search{
			display: none;
		}
	}
}
.error-title{
	color: #444;
	font-size: $font__size*2.3;
}
.error-content,
.widget{
	margin-top: $base__space-unit*2;
}
.error-content{
	margin-bottom: $base__space-unit*4;
}
.widgettitle,
.widget-title{
	color: $color__purple-brand;
	font-size: $font__size*1.5;
}

//SEARCH RESULTS STYLES

.search-header,
.page-header{
	color: #444;
	font-size: $font__size * 1.3;
	border-bottom: 1px solid $color__grey-border;
}
.search-result-meta{
	font-family: $font__secondary;
	text-transform: uppercase;
	font-size: $font__size; 
}
.search-result-summary{
	margin-bottom: $base__space-unit*4;
}

