/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/


/* Buttons */
button,
input[type="submit"],
.read-more{
	padding: 10px 20px;
	font-family: $font__secondary;
	text-transform: uppercase;
	font-size: $font__size;
}

button{
	background: transparent;
	border: none;
}

input[type="submit"]{
	border:none;
	@include button-bg($color__green-brand);
}

// /* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
	color: $color__m-grey-brand;
	border: 1px solid $color__grey-border;
	background-color: lighten($color__l-grey-brand, 34);


	&:focus {
		color: $color__l-grey-brand;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"]{
	padding: 10px;
	height: 40px;
}

textarea {
	padding: 10px;
	width: 100%;
}

label{
	font-family: $font__secondary;
	text-transform: uppercase;
	color: $color__purple-brand;
	line-height: 1.5;		
}
.require{
	&:after{
		color: $color__orange-brand;
		content: " *";
	} 
}
.required{
	color: $color__orange-brand;
}
//TESTING BUTTON MIXINS

.btn-light{
	@include button-ol(white);
}

.btn-dark{
	@include button-ol(black);

}
.btn-green{
	@include button-bg($color__green-brand);
}