/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
//Sets the layout of the header of the website.
header{
	border-bottom: 1px $color__m-grey-brand solid;
}
.site-header{
	width: 100%;
	display:flex;
	background-color: pink;

}
.site-branding{
	flex-grow: 1;
}

/* Site Menu */
.main-navigation{
	font-family: 'Novecento', sans-serif;
	font-size: 0.9rem;
	text-transform: uppercase;
	flex-grow: 2;
	align-self: flex-end;
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	ul{
		li{
			padding-left: $base__space-unit;
		}
	}	
}
.menu{
	display: flex;
	justify-content: space-between;

}

/* Search on main header */

fieldset{
	padding-left: $base__space-unit;
	
}
// .searh-wrapper{
// 	width: 200px;
// }
.search-form{
	position: relative;
	padding-left: $base__space-unit;
	min-width: 20px;
	width: 0%;
	height: 20px;
	transition: width 0.3s;
}
.search-field{
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 20px;
}
.icon-search,
.search-submit{
	padding-left: $base__space-unit*1.5;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	color: $color__white;

	&:hover{
		color: $color__yellow-brand;
	}
}
.search-field-open{
	display: block;
	width: 100%;
}