/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
//Sets the layout of the header of the website.
header{
	border-bottom: 1px $color__m-grey-brand solid;
}
//Probs will need to get rid of this...
.header-bump{
	height: 55px;
}
.site-header{
	width: 100%;
	display:flex;
	// background-color: transparent;
	z-index: 3;
	position: fixed;
	background: rgba(255,255,255, 0.7);

	.container{
		display: flex;
		justify-content: space-between;
		align-items: baseline;

	}
}	
.site-branding{
	flex-grow: 1;
	img{
		width: 50px;
		height: 50px;
	}

}

/* Site Menu */
.main-navigation{
	font-family: 'Novecento', sans-serif;
	font-size: 0.9rem;
	text-transform: uppercase;
	flex-grow: 2;
	align-self: flex-end;
	display: flex;
	justify-content: flex-end;
	align-items: baseline;

	ul{
		li{
			padding-left: $base__space-unit;

		}
	}	
}
.menu{
	display: flex;
	justify-content: space-between;

}

/* Search on main header */

fieldset{
	padding-left: $base__space-unit;
	position: relative;
	label{
		padding-left: 30px;
	}
}
.searh-wrapper{
	width: 200px;
}
input[type="search"]{
	width: 0%;
	min-width: 20px;
	width: 0%;
	height: 20px;
	transition: width 0.3s;

}

// .search-form{
// 	padding-left: $base__space-unit;
// }

.search-field{
	padding-left: $base__space-unit;
// 	top: 0;
// 	left: 0;
// 	display: none;
// 	width: 100%;
// 	height: 20px;
}

.icon-search,
.search-submit{
	padding-left: $base__space-unit*1.5;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	color: $color__green-brand;

	&:hover{
		color: $color__yellow-brand;
	}
}
// .fa-search{
// 	width: 25px;
// 	height: 25px;
// 	padding:2px;
// }
// .search-field-open{
// 	display: block;
// 	width: 100%;
// }



//HERO IMAGE AREA SHOULD PROBS MOVE INTO CONTENT WHEN DONE...

.hero-area{
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: 
		linear-gradient( 180deg,rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)),
		url(../../images/home-hero.jpg) no-repeat top;
	background-size: cover, cover;
	background-attachment: fixed;

}



.indvid-product-card{
	img{
		width: 60px;
		height: 60px;
	}
}



