/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__green-brand;
	text-decoration: none;
// Probs wont need the visited link
	// &:visited {
	// 	color: $color_darker-green-brand;
	// }
	&:hover,
	&:focus,
	&:active {
		color: $color__purple-brand;
	}
	// &:focus {
	// 	outline: thin dotted;
	// }
	// &:hover,
	// &:active {
	// 	outline: 0;
	// }
}
