/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
//HERO IMAGE AREA SHOULD PROBS MOVE INTO CONTENT WHEN DONE...
//resets the site content divy from the blog/contact page...
.home,
.page-template-page-about,
.single-adventure{
	.site-content{
		width: 100%;
		margin:0;
		padding: 0;
	}
}
.hero-area{
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: 
	linear-gradient( 180deg,rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)),
	url(../../images/home-hero.jpg) no-repeat top;
	background-size: cover, cover;
	background-attachment: fixed;
	margin: 0;
}

// PRODUCTS STYLES

//frontpage header styles
.shop-cards,
.journal-cards,
.adventure-feed{
	text-align: center;
	padding: ($base__space-unit * 2) 0;
	h2{
		font-weight: normal;
		padding-bottom: $base__space-unit * 2;
		color: $color__purple-brand;
		font-size: $font__size *2.5;
	}
}
//Product card & Journal flexing
.shop-card-list,
.journal-card-list{
	display: flex;
	justify-content: space-between;
	padding: 0;

}
//Product card & journal content flexing
.indvid-shop-card,
.indvid-journal-card,
.indvid-adventure-box{
	display: flex;
	flex-flow: column wrap;
}

.indvid-shop-card,
.journal-card-content{
	@include card-outline($color__grey-border);
}

//shop card styles
.indvid-shop-card{
	align-items: center;
	text-align: center;
	width: 260px;
	img{
		width: 60px;
		height: 60px;
	}
	&:hover{
		@include card-outline($color__orange-brand);
	}
}

// JOURNAL STYLES

.indvid-journal-card{
	text-align: left;
	width: 350px;
	img{
		width: 100%;
		height: auto;
	}
	p{
		font-size: $font__size* 2/3;
	}
}
.journal-card-title{
	font-family: $font__secondary;
	font-weight: bold;
	font-size: $font__size* 1.5;
	display: block;
	margin-bottom: $base__space-unit/2;
}

// FRONT PAGE ADVENTURES STYLES 
.adventure-feed-list{
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	margin: 0;
	position: relative;
}
.indvid-adventure-box{
	position: relative;
	margin-bottom: $base__space-unit;
	h2{
		position: absolute;
		top: 0px;
		margin: $base__space-unit*2 0 0 $base__space-unit;	
	}
	&:nth-child(1){
		width: 530px;
		height: 550px;
		button{
			position: absolute;
			top: 175px;
			left: 30px;
		}
	}
	&:nth-child(2){
		width: 565px;
		height: 260px;
		margin-bottom: $base__space-unit;
		button{
			position: absolute;
			top: 175px;
			left: 30px;
		}
	}
	&:nth-child(3),
	&:nth-child(4){
		width: 270px;
		height: 270px;
		position: absolute;
		top: 280px;
		h2{
			position: absolute;
			top: 0px;
			font-size: $font__size *1.5;
		}
		button{
			position: absolute;
			top: 150px;
			left: 30px;
		}
	}
	&:nth-child(3){
		right: -24px;
	}
	&:nth-child(4){
		right: 295px;
	}
	&:nth-child(odd){
		margin-right: $base__space-unit;
	}
}
.adventure-image-wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	img{
		max-width: 900px;
		height: auto;

	}
}

// SHOP PAGE ROUGH STYLES

// shop header style!
.shop-header{
	text-align: center;
	border-bottom: 1px dashed $color__grey-border;
	padding:  ($base__space-unit * 1.5) 0 ($base__space-unit * 1.5) 0;
	h2{
		font-size: $font__size *2.5;
		color: #333333; // <- NEED TO CHANGE THIS TO AA LEGIT COLOUR
	}
}
.product-type-nav{
	display: flex;
	justify-content: space-around;
	width: 400px;
	margin: 0 auto;
	padding: 0;
	font-family: $font__secondary;
	text-transform: uppercase;
	font-size: $font__size * 1.2;	
}

//product card styles
.product-cards{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0;
}
.indvid-product-card{
	width: 23%;
	display: flex;
	flex-flow: column;
	margin-bottom: $base__space-unit;
}
.indvid-product-image{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 225px;	
	img{
		max-width: 410px;
	}

}
.indvid-product-card-text{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	@include card-outline($color__grey-border);
	padding: 10px;
	// white-space: nowrap;
	// overflow: hidden;
	h2{
		font-size: $font__size;
		font-family: $font__main;
		font-weight: normal;
		text-transform: none;
	}
	// h2:after{
	// 	content: ". . . . . . . . . . . ."

	// }
}

// SINGLE BLOG POST STYLINGS.

.single-post{
	h1{
		color: $color__white;
	}
	.entry-footer{
		font-family: 'Novecento', sans-serif;
		text-transform: uppercase;
		font-size: $font__size * 1;
		margin-right: $base__space-unit;
		color: $color__m-grey-brand;

	}
	.cat-links{
		margin-right: $base__space-unit;		
	}
}
.share-btn{
	margin: $base__space-unit 0;
}
.scl-btn-facebook,
.scl-btn-twitter,
.scl-btn-pinterest{
	@include button-ol(black);
	padding: 10px 20px;
	font-family: 'Novecento', sans-serif;
	text-transform: uppercase;
	margin-right: 5px;
}
.fa{
	margin-right: 7px;
}
//COMMENTS FORM AREA
.comment-reply-title{
	font-size: $font__size*1.8;
	color: #444;
	margin: $base__space-unit * 2 0;
	
}
.comment-form{
	display: flex;
	flex-flow: wrap;
	margin-bottom: $base__space-unit * 2;

	p{
		display: flex;
		flex-flow: column;
		width: 100%;
	}
	.comment-form-author,
	.comment-form-email{
		flex: 0 1 48%;

	}
	.comment-form-author{
		margin-right: $base__space-unit;
		
	}
	.form-submit{
		flex-basis: 15%;
		background-color: $color__green-brand;
		.submit{
		font-family: 'Novecento', sans-serif;
		text-transform: uppercase;
		}
	}
}

// COMMENTS STYLESSS

.comment-body{
	display: flex;
	padding: $base__space-unit 0;
}
.comment-list{
	padding: 0;
}
.comment-list>li{
	border-bottom: 1px solid $color__grey-border;
}	
.children{
	margin-left: $base__space-unit;
	li {
	border-top: 1px solid $color__grey-border;
	}
}

.avatar{
	border-radius: 50%;
	margin-right: $base__space-unit;
	width: 80px;
	height: 80px;
}
.comment-author{
	font-weight: bold;
	margin-bottom: 10px;
	cite{
		font-style: normal;
		text-transform: capitalize;
	}
}
.comment-metadata{
	color: $color__l-grey-brand;
}

//TEXT WIDGET STYLES TO GET ICONS TO WORK
.contact-info{
		display: flex;
		align-items: center;
		.fa{
			text-align: center;
			margin-right: 20px;
			width: 20px;
			color: #444;
		}
		.fa-map-marker{
			height: 38px;
		}
}
//business hours widget styles
.day-of-week{
	font-weight: bold;
}


// ADVENTURE ARCHIVE PAGE TEMPLATE STYLES
.adventure-grid{
	display: flex;
	flex-flow: wrap;
	margin: ($base__space-unit * 1.5) 0 ($base__space-unit * 3) 0;
	padding: 0;
}
.adventure-grid-item{
	width: 530px;
	height: 550px;
	margin-right: 30px;
	margin-bottom: 15px;
	margin-top: 15px;
	position: relative;
	overflow: hidden;
}
.thumbnail-wrapper{
	max-height: 550px;
	display: flex;
	justify-content: center;
	img{
		max-width: 900px;
		max-height: none;
	}
	
}
.adventure-grid-content{
	position: absolute;
	top:10px;
	left: 10px;
	margin: 25px;
}
.adventure-title{
	font-family: $font__main;
	text-align: left;
	text-transform: capitalize;
	font-weight: normal;
	font-size: $font__size *3;
	// z-index: 5;
	a{
		color: white;
		&:hover{
			color: $color__yellow-brand;
		}
	}
}
.overlay{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background: linear-gradient( 180deg,rgba(0,0,0, 0.4), rgba(0,0,0, 0.4));


}
//SINGLE ADVENTURE PAGE STYLES
.hero-image{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.adventure-content{
	width: 800px;
	margin: 0 auto;
}
.adventure-meta{
	font-family: $font__secondary;
	text-transform: uppercase;
}

//USE THIS STYLE FOR THE BOTTOM MARGIN and try and remove
//the other margin bottoms you've put on things.
.site-main{
	margin-bottom: $base__space-unit *4;
}


