/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

//business hours widget styles
.day-of-week{
	font-weight: bold;
}

//TEXT WIDGET STYLES TO GET ICONS TO WORK
.contact-info{
		display: flex;
		align-items: center;
		.fa{
			text-align: center;
			margin-right: 20px;
			width: 20px;
			color: #444;
		}
		.fa-map-marker{
			height: 38px;
		}
}

.widgettitle,
.widget-title{
	color: $color__purple-brand;
	font-size: $font__size*1.5;
}